/*!
 * Start Bootstrap - tpcoms v5.2.2 (https://tpcoms.com)
 * Copyright 2013-2019 Nakata
 * Licensed under MIT (https://github.com/BlackrockDigital/tpcoms-agency/blob/master/LICENSE)
 */

@charset "UTF-8";
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/SegoeUI.eot");
  src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff2") format("woff2"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url("../fonts/SegoeUI-Bold.eot");
  src: url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.ttf") format("truetype"), url("../fonts/SegoeUI-Bold.svg#SegoeUI-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Semibold';
  src: url("../fonts/SegoeUI-Semibold.eot");
  src: url("../fonts/SegoeUI-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Semibold.woff2") format("woff2"), url("../fonts/SegoeUI-Semibold.woff") format("woff"), url("../fonts/SegoeUI-Semibold.ttf") format("truetype"), url("../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

.btn {
  font-family: 'Segoe UI Semibold';
  display: inline-block;
  height: 48px;
  line-height: 46px;
  padding: 0 30px;
  border: 1px solid #fff;
  font-size: 18px;
  transition: all .2s ease;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #FF8830;
  border-color: #FF8830;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #ff720a !important;
  border-color: #ff720a !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.btn-secondary {
  background-color: #004FA3;
  border-color: #004FA3;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #003c7d !important;
  border-color: #003c7d !important;
  color: white;
}

.btn-secondary:active, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.btn-outline {
  background-color: #fff;
  border-color: #FF8830;
}

.btn-outline:active, .btn-outline:focus, .btn-outline:hover {
  background-color: #ff720a !important;
  border-color: #ff720a !important;
  color: white;
}

.btn-outline:active, .btn-outline:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

header.masthead {
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
}

.footer {
  background: transparent linear-gradient(180deg, #005FC5 0%, #004FA3 100%) 0% 0% no-repeat padding-box;
  padding-top: 40px;
  text-align: left;
  color: #fff;
}

.footer .top-footer > div {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer a {
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.footer a:hover {
  color: #FF8830;
  text-decoration: none;
}

.footer dl {
  max-width: 250px;
}

.footer .user-try dl {
  padding-right: 0;
}

.footer .user-try .btn-primary {
  width: 100%;
}

.footer dt {
  font-family: 'Segoe UI Bold';
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.footer dl dt:first-child {
  margin-bottom: 30px;
  margin-top: 0;
}

.footer dl dt:nth-child(4) {
  margin-top: 40px;
}

.footer dd {
  margin-bottom: 20px;
}

.footer dd.logo-footer {
  margin-top: 30px;
  margin-bottom: 25px;
}

.footer dd address {
  display: grid;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}

.footer dd.list-social {
  margin-top: 25px;
}

.footer dd address strong {
  font-family: 'Segoe UI Semibold';
}

.footer dd address strong i {
  margin-right: 8px;
}

.footer dd address span {
  font-weight: 200;
  margin-top: 20px;
}

.footer .use-try dt {
  text-align: center;
  background: #FF8830;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Segoe UI Semibold';
  padding: 8px 0;
}

.footer .bottom-footer {
  border-top: 1px solid;
  padding: 30px 0;
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
}

/*block dung thư*/
#vhome-hfree {
  background: #fcfcfc;
}

.art {
  font-size: 16px;
  font-weight: 200;
  line-height: 32px;
  font-family: Open Sans;
  color: #444444;
}

.list-social a {
  display: inline-block;
  font-size: 40px;
  margin-right: 15px;
}

.bottom-footer {
  display: flex;
}

.bottom-footer p {
  margin: 0;
}

.list-dk {
  list-style: none;
  margin: 0;
}

.list-dk li {
  list-style: none;
  display: inline-block;
}

.list-dk li:first-child {
  padding-right: 5px;
}

.list-dk li:last-child {
  padding-left: 5px;
}

.list-dk li a:hover {
  color: #ff8830;
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer {
    position: relative;
  }
  .footer .top-footer > div.user-try {
    text-align: center;
  }
  .footer .user-try dl {
    max-width: 100%;
  }
  .footer .user-try .btn-primary {
    width: 230px;
  }
  .bottom-footer {
    text-align: center;
    display: block;
  }
  .bottom-footer p {
    font-size: 9px;
    margin-bottom: 8px;
  }
  .footer .bottom-footer .list-dk {
    padding: 0;
    font-size: 9px;
  }
  .footer .bottom-footer .list-dk a {
    padding: 0;
    font-size: 9px;
  }
  .bottom-footer {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 100px;
  }
  .footer .top-footer > div.col-md-6 {
    position: static;
  }
  .logo-footer {
    position: absolute;
    bottom: 110px;
    left: 50%;
    margin-left: -57px;
  }
}

.main-nav {
  background: #fff;
}

.main-nav.navbar-shrink {
  box-shadow: 0 0 5px #ddd;
}

.main-nav .navbar-nav-right .nav-item a {
  color: #004FA3;
}

.main-nav .navbar-nav-last .nav-item a.btn {
  padding-left: 0px;
  padding-right: 20px;
  color: #FF8830;
}

.main-nav .navbar-nav-last .nav-item a.btn-outline {
  padding-left: 30px;
  padding-right: 30px;
}

.main-nav .navbar-nav-last .nav-item a.btn:hover {
  color: #004FA3;
}

.main-nav .navbar-nav-last .nav-item a.btn-outline:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .main-nav.navbar-expand-lg .navbar-nav-right .nav-link {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 18px;
    font-family: 'Segoe UI Semibold';
  }
  .main-nav.navbar-expand-lg .navbar-nav-left .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }
  .main-nav .dropdown-menu {
    border: 0;
    background: none;
    padding-top: 20px;
    border-radius: 0;
  }
  .main-nav .inner-menu {
    box-shadow: 2px 2px 4px #eee;
    border: 0;
    background: #fff;
  }
  .main-nav .navbar-nav-right .inner-menu .dropdown-item {
    height: 48px;
    line-height: 48px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    position: relative;
    color: #444444;
  }
  .main-nav .navbar-nav-right .inner-menu .dropdown-item:hover {
    color: #FF8830;
    background: none;
  }
  .main-nav .navbar-nav-right .inner-menu .dropdown-item:after {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 4px;
    background: #fff;
    content: "";
    margin-top: -12px;
  }
  .main-nav .navbar-nav-right .inner-menu .dropdown-item:hover:after {
    background: #FF8830;
  }
  .main-nav .navbar-nav-right > .nav-item:hover .nav-link, .main-nav .navbar-nav-right > .nav-item.show .nav-link, .main-nav .navbar-nav-right > .nav-item.active .nav-link {
    color: #FF8830;
  }
  .main-nav .navbar-nav > li.dropdown .dropdown-menu {
    margin: 0;
  }
  .main-nav .navbar-nav > li.dropdown:hover .dropdown-menu {
    display: block;
  }
  .main-nav .navbar-nav-left .inner-menu .dropdown-item {
    padding-left: 5px;
    padding-right: 0;
  }
  .main-nav .navbar-nav-left .inner-menu .dropdown-item:hover {
    background: none;
  }
  .main-nav .navbar-nav-left .inner-menu {
    box-shadow: none;
  }
  .main-nav .ml-left {
    margin-left: 20px;
  }
  .main-nav .navbar-nav > li.dropdown.dropdown-flag:hover .dropdown-menu {
    margin-left: 0;
  }
}

@media (min-width: 1366px) {
  .main-nav .navbar-nav > li.dropdown .dropdown-menu {
    margin-left: 20px;
  }
}

@media (min-width: 1600px) {
  .main-nav.navbar-expand-lg .navbar-nav-right .nav-link {
    padding-left: 38px;
    padding-right: 38px;
  }
  .main-nav .navbar-nav > li.dropdown .dropdown-menu {
    margin-left: 34px;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .main-nav .container {
    max-width: 100%;
  }
  .main-nav.navbar-expand-lg .navbar-nav-right .nav-link {
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-nav .navbar-nav-last .nav-item a.btn-outline {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1141px) and (max-width: 1279px) {
  .main-nav .container {
    max-width: 100%;
  }
  .main-nav.navbar-expand-lg .navbar-nav-right .nav-link {
    padding-right: 14px;
    padding-left: 14px;
  }
  .main-nav .navbar-nav-last .nav-item a.btn {
    padding-right: 15px;
  }
  .main-nav .navbar-nav-last .nav-item a.btn-outline {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-nav .ml-left {
    margin-left: 10px;
  }
}

@media (min-width: 1023px) and (max-width: 1140px) {
  .main-nav .container {
    max-width: 100%;
  }
  .main-nav.navbar-expand-lg .navbar-nav-right .nav-link {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 15px;
  }
  .main-nav .navbar-nav-last .nav-item a.btn {
    padding-right: 13px;
    font-size: 15px;
  }
  .main-nav .navbar-nav-last .nav-item a.btn-outline {
    padding-left: 13px;
    padding-right: 13px;
    font-size: 15px;
  }
  .main-nav .ml-left {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .main-nav {
    height: 80px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 9999999999;
  }
  .main-nav .navbar-nav-left {
    display: inline-block;
    margin-top: 11px;
    margin-left: 5px;
  }
  .main-nav .navbar-nav-left li {
    display: inline-block;
  }
  .main-nav .logo .navbar-brand {
    padding: 0;
    float: left;
    width: 90px;
  }
  .main-nav .logo {
    margin-bottom: 0;
    padding: 2px 0;
    float: left;
    margin-top: 12px;
  }
  .main-nav .container {
    display: block;
    height: 80px;
  }
  .main-nav .navbar-nav-right .nav-item a {
    padding-bottom: 11px;
    padding-top: 12px;
    border-top: solid 1px #eee;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-nav .collapse .navbar-nav-right .nav-item:first-child > a {
    border-top: 0;
    padding-top: 0;
  }
  .main-nav .navbar-toggler {
    float: right;
    outline: none;
    width: 43px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: 0;
    margin-top: 7px;
  }
  .btn-menu {
    width: 58px;
    opacity: 0.8;
    height: 48px;
    position: relative;
    cursor: pointer;
    z-index: 100;
    display: block;
  }
  .btn-menu:before {
    transition: all .3s ease;
    position: absolute;
    top: 13px;
    right: 15px;
    display: block;
    height: 2px;
    width: 30px;
    background: #004fa3;
    content: '';
  }
  .btn-menu:after {
    position: absolute;
    top: 24px;
    right: 15px;
    display: block;
    height: 13px;
    width: 30px;
    border-top: 2px solid #004fa3;
    border-bottom: 2px solid #004fa3;
    content: '';
  }
  .toggled .btn-menu:before {
    top: 21px;
    background: #004fa3;
    width: 30px;
    transform: rotate(-45deg);
  }
  .toggled .btn-menu:after {
    transition: all .3s ease;
    top: 21px;
    border: 0;
    height: 2px;
    width: 30px;
    background: #004fa3;
    transform: rotate(45deg);
  }
  .main-nav .navbar-nav-right, .main-nav .navbar-nav-last {
    display: block;
  }
  .main-nav .navbar-collapse.collapse {
    transition: all .3s ease;
    top: 80px;
    right: -100%;
    width: 100%;
    position: fixed;
    display: block;
    background: #fff;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 15px 20px 15px;
    margin-top: 0;
  }
  .toggled .main-nav .navbar-collapse.collapse {
    right: 15px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    z-index: 999;
  }
  .main-nav .navbar-collapse.collapse {
    height: calc(100vh - 80px);
  }
  .main-nav .navbar-nav.navbar-nav-last {
    display: block;
  }
  .main-nav .navbar-nav.navbar-nav-last li {
    display: inline-block;
  }
  .main-nav .navbar-nav-last .nav-item a.btn.btn-outline {
    background: #FF8830;
    color: #fff;
  }
  .main-nav .navbar-nav-right .nav-item a {
    color: #444;
    font-family: 'Segoe UI Semibold';
    position: relative;
  }
  .main-nav .navbar-nav-right .nav-item.dropdown > a:before {
    transition: all .2s ease-in-out 0s;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    font-family: 'Font Awesome\ 5 Free';
    content: '\f054';
    font-weight: 600;
  }
  .main-nav .navbar-nav-right .nav-item.dropdown:first-child a:before {
    top: 8px;
  }
  .main-nav .navbar-nav-right .nav-item.dropdown .dropdown-menu.show {
    padding: 0;
    border: 0;
    margin: 0;
  }
  .main-nav .navbar-nav-right .nav-item.dropdown .dropdown-menu.show a {
    font-family: 'Segoe UI';
    border: 0;
  }
  .main-nav .navbar-nav-right .nav-item.dropdown .dropdown-menu.show a:first-child {
    border-top: solid 1px #eee;
  }
  .main-nav .navbar-nav-right .nav-item.dropdown.show > a {
    color: #004FA3;
  }
  .main-nav .navbar-nav-right .nav-item.dropdown.show > a:before {
    transform: rotate(90deg);
    top: 20px;
    color: #999;
  }
  .main-nav .navbar-nav-right .nav-item.dropdown.show:first-child > a:before {
    top: 12px;
  }
}

@media (max-width: 767px) {
  .main-nav .navbar-nav.navbar-nav-last {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-nav .navbar-nav.navbar-nav-last li {
    width: 50%;
    float: left;
    padding: 0 5px;
  }
  .main-nav .navbar-nav.navbar-nav-last li a {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 15px;
    height: 38px;
    line-height: 37px;
    text-align: left;
  }
  .main-nav .navbar-nav-last .nav-item a.btn.btn-outline {
    text-align: center;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.slick-top {
  overflow: hidden;
}

.slick-top .full-height {
  height: calc(100vh - 88px);
  display: flex;
}

.slick-top .block-center {
  margin: auto;
}

.slick-top .block-center .col-md-6 {
  display: flex;
}

.slick-top .block-center .col-md-6 .art-1 {
  margin-top: auto;
  margin-bottom: auto;
}

.slick-top .slick-dots {
  bottom: 50px;
}

.slick-top .slick-dots li {
  margin-left: 0px;
  padding-right: 0px;
}

.slick-top .slick-dots li button:before {
  font-size: 10px;
  color: #A1A1A1;
  opacity: 1;
}

.slick-top .slick-dots li.slick-active button:before {
  color: #FF8830;
}

.slick-top .slick-prev {
  width: 48px;
  height: 48px;
}

.slick-top .slick-next {
  width: 48px;
  height: 48px;
}

.slick-top .slick-slide img {
  width: 100% !important;
  height: auto !important;
  display: block;
}

/*pagingInfo*/
.pagingInfo, .pagingInfo_1 {
  display: none;
}

@media (min-width: 1199px) {
  .slick-top .block-center {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 767px) {
  .pagingInfo, .pagingInfo_1 {
    display: block;
    text-align: center;
  }
  .pagingInfo::first-letter, .pagingInfo_1::first-letter {
    color: #FF8830;
  }
  .slider-icon {
    margin-left: 0;
    margin-right: 0;
  }
  .slider-icon .slick-slide.col-lg-4 {
    padding: 0;
  }
  .slider-icon .slick-next {
    top: 100%;
    margin-top: 12px;
    left: 50%;
    margin-left: 50px;
  }
  .slider-icon .slick-prev {
    top: 100%;
    margin-top: 12px;
    right: 50%;
    left: auto;
    margin-right: 50px;
  }
  .slider-icon .slick-next:before {
    font-size: 16px;
    width: 16px;
    height: 16px;
    font-family: 'Font Awesome\ 5 Free';
    content: '\f054';
    font-weight: 600;
    color: #999;
  }
  .slider-icon .slick-prev:before {
    font-size: 16px;
    width: 16px;
    height: 16px;
    font-family: 'Font Awesome\ 5 Free';
    content: '\f053';
    font-weight: 600;
    color: #999;
  }
  .slider-price {
    margin-left: -30px;
    margin-right: -30px;
  }
  .slider-price .slick-slide {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .slider-price .slick-slide.col-lg-4 {
    padding: 0;
    margin-top: 5px;
    margin-right: 10px;
    padding-left: 10px;
  }
  .slider-price .slick-next {
    top: 100%;
    margin-top: 12px;
    left: 50%;
    margin-left: 50px;
  }
  .slider-price .slick-prev {
    top: 100%;
    margin-top: 12px;
    right: 50%;
    left: auto;
    margin-right: 50px;
  }
  .slider-price .slick-next:before {
    font-size: 16px;
    width: 16px;
    height: 16px;
    font-family: 'Font Awesome\ 5 Free';
    content: '\f054';
    font-weight: 600;
    color: #999;
  }
  .slider-price .slick-prev:before {
    font-size: 16px;
    width: 16px;
    height: 16px;
    font-family: 'Font Awesome\ 5 Free';
    content: '\f053';
    font-weight: 600;
    color: #999;
  }
  .slick-customer {
    padding: 15px 0;
    margin-top: 20px;
  }
  .slick-customer div a {
    display: block;
    margin: 0 10px;
  }
  .slick-customer .slick-dots li button:before {
    font-size: 10px;
    color: #A1A1A1;
    opacity: 1;
  }
  .slick-customer .slick-dots li.slick-active button:before {
    color: #FF8830;
  }
  .slick-top .block-center .col-md-6 {
    display: block;
  }
}

.m-blog {
  background: #FFFFFFE6;
}

.m-blog input {
  background: #F7F7F7;
  border: 0;
}

.m-blog input::-webkit-input-placeholder {
  color: #7A7A7A;
  font-size: 13px;
  line-height: 22px;
}

.m-blog input::-moz-placeholder {
  color: #7A7A7A;
  font-size: 13px;
  line-height: 22px;
}

.m-blog input:-ms-input-placeholder {
  color: #7A7A7A;
  font-size: 13px;
  line-height: 22px;
}

.m-blog input::-ms-input-placeholder {
  color: #7A7A7A;
  font-size: 13px;
  line-height: 22px;
}

.m-blog input::placeholder {
  color: #7A7A7A;
  font-size: 13px;
  line-height: 22px;
}

.m-blog .m-menu {
  padding: 0 10px;
}

.m-blog .m-menu p {
  font-size: 18px;
  line-height: 36px;
  font-family: "Segoe UI Bold";
  color: #444;
  padding-bottom: 8px;
  border-bottom: solid 1px #ddd;
}

.m-blog .m-menu ul {
  list-style: none;
  padding: 0;
}

.m-blog .m-menu ul li {
  margin-bottom: 15px;
}

.m-blog .m-menu ul li a {
  font-size: 16px;
  line-height: 24px;
  font-family: "Segoe UI";
  letter-spacing: 0;
  color: #444444;
}

.m-blog .m-menu ul li a:active, .m-blog .m-menu ul li a:focus, .m-blog .m-menu ul li a:hover {
  color: #FF8830;
}

.m-blog .m-header {
  background: url(../img/blog/Banner.png) center center no-repeat;
  background-size: cover;
  min-height: 450px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  box-shadow: 0px 5px 40px #e8e8e8;
  margin-bottom: 50px;
}

.m-blog .m-header .m-title {
  text-align: center;
  font-family: "Segoe UI Bold";
  line-height: 58px;
  font-weight: bold;
  color: #004FA3;
  padding: 20px 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.m-blog .m-header .m-title h3 {
  font-size: 48px;
}

.m-blog .m-news .m-thumbs {
  position: relative;
}

.m-blog .m-news .m-thumbs a {
  display: block;
  width: 100%;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;
}

.m-blog .m-news .m-thumbs a img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.m-blog .m-news .m-content {
  margin: 15px 0 30px;
}

.m-blog .m-news .m-content .title {
  font-size: 18px;
  line-height: 22px;
  font-family: "Segoe UI Semibold";
  color: #444444;
}

.m-blog .m-news .m-content .title a {
  color: #444444;
}

.m-blog .m-news .m-content .title a:active, .m-blog .m-news .m-content .title a:focus, .m-blog .m-news .m-content .title a:hover {
  color: #FF8830;
}

.m-blog .m-news .m-content .time {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  color: #A1A1A1;
}

.m-blog .m-news .m-content .time a {
  color: #A1A1A1;
}

.m-blog .m-news .m-content .time a:active, .m-blog .m-news .m-content .time a:focus, .m-blog .m-news .m-content .time a:hover {
  color: #FF8830;
}

.m-blog .m-news .m-content .author {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  color: #444444;
}

.m-blog .m-news .m-content .author a {
  color: #444444;
}

.m-blog .m-news .m-content .author a:active, .m-blog .m-news .m-content .author a:focus, .m-blog .m-news .m-content .author a:hover {
  color: #FF8830;
}

.m-blog .m-pagination {
  margin: 30px 0 80px;
}

.m-blog .m-pagination ul li:first-child a, .m-blog .m-pagination ul li:last-child a {
  background: none;
  border: 1px solid #F6F7FD;
}

.m-blog .m-pagination .page-link {
  border: 0;
  color: #444444;
  background: #F7F7F7;
  margin-left: 10px;
  border-radius: 6px;
}

.m-blog .m-pagination .page-link:active, .m-blog .m-pagination .page-link:focus, .m-blog .m-pagination .page-link:hover {
  color: #fff;
  background: #FFB061;
}

.m-blog .m-pagination .active .page-link {
  color: #fff;
  background: #FFB061;
}

.m-single {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.m-single .top {
  text-align: center;
  color: #444444;
  margin: 40px 0;
}

.m-single .top .info {
  color: #ccc;
}

.m-single .top hr {
  width: 80%;
  border-width: 2px;
  border-color: #f1f1f1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-single .top h1 {
  font: Bold 36px/48px Segoe UI Bold;
}

.m-single .top .datetime,
.m-single .top .cate,
.m-single .top .author {
  color: #ccc;
  font: Regular 14px/24px Open Sans;
}

.m-single .top .datetime a,
.m-single .top .cate a,
.m-single .top .author a {
  color: #ccc;
}

.m-single .top .datetime a:active, .m-single .top .datetime a:focus, .m-single .top .datetime a:hover,
.m-single .top .cate a:active,
.m-single .top .cate a:focus,
.m-single .top .cate a:hover,
.m-single .top .author a:active,
.m-single .top .author a:focus,
.m-single .top .author a:hover {
  color: #FFB061;
}

.m-single .top .desctiption {
  font: Regular 16px/28px Roboto;
}

.m-single .content {
  color: #444444;
}

.m-single .content p {
  font-size: 16px;
  line-height: 28px;
}

.m-single .content h3 {
  font: Bold 24px/36px Roboto;
}

.m-single .content img {
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.related-post {
  margin: 80px 0;
}

.related-post .m-title {
  text-align: center;
  font-size: 48px;
  font-family: Segoe UI Bold;
}

.related-post .thumb {
  position: relative;
  background: transparent;
}

.related-post .thumb a {
  box-shadow: 0px 5px 17px #cecece;
  border-radius: 10px;
  display: block;
  width: 100%;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;
}

.related-post .thumb a img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.related-post .content {
  margin: 30px 0;
  text-align: left;
}

.related-post .content .title {
  font-size: 18px;
  line-height: 22px;
  font-family: "Segoe UI Semibold";
  color: #444444;
}

.related-post .content .title a {
  color: #444444;
}

.related-post .content .title a:active, .related-post .content .title a:focus, .related-post .content .title a:hover {
  color: #FF8830;
}

.related-post .content .time {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  color: #A1A1A1;
}

.related-post .content .time a {
  color: #A1A1A1;
}

.related-post .content .time a:active, .related-post .content .time a:focus, .related-post .content .time a:hover {
  color: #FF8830;
}

.related-post .content .author {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  color: #444444;
}

.related-post .content .author a {
  color: #444444;
}

.related-post .content .author a:active, .related-post .content .author a:focus, .related-post .content .author a:hover {
  color: #FF8830;
}

.m-contact .info {
  font-size: 36px;
  font-family: 'Segoe UI Bold';
}

.m-contact {
  margin: 120px 0px;
}

.m-contact .info {
  margin-top: 100px;
}

.m-contact .title hr {
  float: left;
}

.m-contact .address {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans";
}

.m-contact .address ul {
  list-style: none;
  padding: 0;
}

.m-contact .address ul li {
  margin-bottom: 15px;
  color: #444;
}

.m-contact .address ul li a {
  color: #444444;
}

.m-contact .address ul li a:active, .m-contact .address ul li a:focus, .m-contact .address ul li a:hover {
  color: #FFB061;
}

.m-contact .address ul li .title-map {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans Bold";
  color: #175EAB;
}

.m-contact .address ul li .title-map i {
  margin-right: 5px;
}

.m-contact .m-info {
  background: #fff;
  box-shadow: 3px 1px 15px #e2e2e2;
  border-radius: 10px;
  padding: 40px 30px;
  color: #444444;
}

.m-contact .m-info .note {
  font-family: "Open Sans SemiBold";
  font-size: 16px;
  line-height: 24px;
}

.m-contact .m-info .frm label {
  font-family: "Open Sans SemiBold";
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.m-contact .m-info .frm label span {
  color: #FF8830;
}

.m-contact .m-info .frm input.form-control,
.m-contact .m-info .frm textarea.form-control {
  background: #F6F6F6;
  padding: 15px 25px;
  border: 0;
}

.m-contact .m-info .frm input.form-control::-webkit-input-placeholder,
.m-contact .m-info .frm textarea.form-control::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #A1A1A1;
}

.m-contact .m-info .frm input.form-control::-moz-placeholder,
.m-contact .m-info .frm textarea.form-control::-moz-placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #A1A1A1;
}

.m-contact .m-info .frm input.form-control:-ms-input-placeholder,
.m-contact .m-info .frm textarea.form-control:-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #A1A1A1;
}

.m-contact .m-info .frm input.form-control::-ms-input-placeholder,
.m-contact .m-info .frm textarea.form-control::-ms-input-placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #A1A1A1;
}

.m-contact .m-info .frm input.form-control::placeholder,
.m-contact .m-info .frm textarea.form-control::placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  color: #A1A1A1;
}

.m-contact .m-info .frm .checkbox {
  background: #F6F6F6;
}

.m-contact .m-info .frm .checkbox input[type=checkbox] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #fff;
  height: 16px;
  width: 16px;
  border: 1px solid white;
}

.m-contact .m-info .frm .checkbox input[type=checkbox]:checked {
  background: #195EAB;
}

.m-contact .m-info .frm .checkbox input[type=checkbox]:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.m-contact .m-info .frm .checkbox input[type=checkbox]:disabled {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.m-contact .m-info .frm .checkbox input[type=checkbox]:checked:after {
  display: block;
}

.m-contact .m-info .frm .checkbox input[type=checkbox]:disabled:after {
  border-color: #7b7b7b;
}

.m-contact .m-info .frm .checkbox label {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 23px;
  color: #A1A1A1;
}

.m-contact .m-info .frm .checkbox label span {
  color: red;
}

.m-contact .m-info .frm button.btn {
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  font-family: "Open Sans SemiBold";
}

.m-map #google {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.m-contact .m-info .frm .checkbox .form-check label {
  text-transform: none;
}

.vm-ware {
  padding: 50px 0;
}

.vm-ware .bg-box-img-r {
  height: 100%;
  background: linear-gradient(90deg, #FCFCFC 50%, #fff 50%);
}

.vm-ware .bg-box-img-l {
  height: 100%;
  background: linear-gradient(90deg, #fff 50%, #FCFCFC 50%);
}

.vm-ware .bg-box-txt {
  background: #FCFCFC;
}

.vm-ware .box2 {
  transition: all 1s;
}

.vm-ware .box2:hover {
  background: #fff;
  border-radius: 6px;
  transition: all 1s;
  color: #0b2e13;
}

.vm-ware .package {
  padding: 35px;
  box-shadow: 1px 1px 15px #e8e8e8;
  border-radius: 10px;
  margin-bottom: 40px;
}

.vm-ware .package button {
  width: 100%;
}

.vm-ware .package ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.vm-ware .package ul li {
  margin-bottom: 20px;
  color: #444444;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans";
}

.vm-ware .package ul li i {
  margin-right: 15px;
}

.vm-ware .package ul li span {
  font-family: "Open Sans Bold";
  font-size: 20px;
  line-height: 24px;
}

.vm-ware .package .title-6 {
  font-family: "Segoe UI bold";
  font-size: 24px;
  margin: auto;
}

.vm-ware .package .title-6 span {
  margin-top: 10px;
  display: block;
  padding-top: 8px;
  margin: 0 auto;
  color: #FF8830;
  font-size: 18px;
  line-height: 22px;
  font-family: "Segoe UI Semibold";
}

.vm-ware .package .title-6 span i {
  margin-right: 5px;
}

.vm-ware .package hr {
  width: 100%;
  border-width: 1px;
  border-color: #efefef;
  margin-top: 30px;
  margin-bottom: 40px;
}

.vm-ware .price {
  color: #444444;
  margin: 40px 0;
}

.vm-ware .price .unit {
  font-size: 18px;
  line-height: 22px;
  font-family: "Segoe UI Semibold";
  vertical-align: top;
}

.vm-ware .price .money {
  font-size: 48px;
  line-height: 54px;
  font-family: "Segoe UI Bold";
}

.vm-ware .price .month {
  color: #A1A1A1;
  font-size: 12px;
  line-height: 18px;
  font-family: "Open Sans";
}

.vm-ware .choose {
  background: #fff;
  box-shadow: 1px 1px 15px #e8e8e8;
  padding: 40px;
  border-radius: 10px;
  margin: 3rem 0;
}

.vm-ware .choose p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans";
  color: #A1A1A1;
}

.vm-ware .choose .sub-total {
  background: #BCEAFF;
  border-radius: 24px;
  margin: 20px 0;
  display: flex;
}

.vm-ware .choose .sub-total .title {
  font-family: "Segoe UI Semibold";
  font-size: 18px;
  color: #0057B3;
  width: 50%;
  line-height: 40px;
  padding: 0 20px;
}

.vm-ware .choose .sub-total .total {
  width: 50%;
  background: #004FA3;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  line-height: 40px;
  font-family: "Open Sans SemiBold";
  font-size: 18px;
}

.vm-ware .choose .sub-total .total span {
  margin-left: 10px;
}

.vm-ware .choose .configurator {
  margin: 20px 0 40px;
}

.vm-ware .choose .configurator ul {
  list-style: none;
  padding: 0;
}

.vm-ware .choose .configurator ul li {
  line-height: 22px;
  font-family: "Open Sans SemiBold";
  font-size: 18px;
  color: #444444;
  margin-bottom: 40px;
  display: flex;
}

.vm-ware .choose .configurator ul li label {
  margin-bottom: 0;
}

.vm-ware .choose .configurator ul li .option {
  width: 40%;
}

.vm-ware .choose .configurator ul li .value {
  width: 60%;
  background: #F2F2F2;
  height: 12px;
  border-radius: 15px;
  border: 0;
}

.vm-ware .choose .configurator ul li .value .custom-handle {
  width: 45px;
  height: 45px;
  margin-top: -22.5px;
  border-radius: 25px;
  top: 50%;
  text-align: center;
  line-height: 45px;
  border: 0;
  background: #004FA3;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
}

.vm-ware .choose .configurator ul li .wrapper-switch {
  position: absolute;
  right: 0;
  width: 60%;
}

.vm-ware .choose .configurator ul li .wrapper-switch .switch {
  display: inline-block;
}

.vm-ware .choose .configurator ul li .wrapper-switch .switch input {
  display: none;
}

.vm-ware .choose .configurator ul li .wrapper-switch .slider {
  height: 26px;
  width: 100px;
  background-color: #BCEAFF;
  bottom: 0;
  cursor: pointer;
  left: 6px;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.vm-ware .choose .configurator ul li .wrapper-switch .slider:before {
  width: 87px;
  background-color: #004FA3;
  bottom: -6px;
  content: "";
  height: 38px;
  left: 0px;
  position: absolute;
  transition: .4s;
  width: 38px;
}

.vm-ware .choose .configurator ul li .wrapper-switch input:checked + .slider {
  background-color: #BCEAFF;
}

.vm-ware .choose .configurator ul li .wrapper-switch input:checked + .slider:before {
  transform: translateX(70px);
}

.vm-ware .choose .configurator ul li .wrapper-switch .slider.round {
  border-radius: 34px;
}

.vm-ware .choose .configurator ul li .wrapper-switch .slider.round:before {
  border-radius: 50%;
}

.vm-ware-botton {
  background: #FCFCFC;
  padding: 150px 0;
}

.vm-ware .choose .configurator ul li .value.outer-select {
  height: auto;
  margin-top: -8px;
}

.vm-ware .package ul li i {
  color: #7edabb;
}

.vm-ware .package .text-center .d-flex {
  height: 80px;
}

.page-section {
  padding: 100px 0;
}

* {
  outline: none !important;
}

body {
  padding-top: 88px;
  color: #444444;
}

.block-center {
  margin-top: auto;
  margin-bottom: auto;
}

hr {
  width: 60px;
  border-width: 3px;
  border-color: #FF8830;
  margin-top: 18px;
  margin-bottom: 10px;
}

.text-muted {
  color: #444 !important;
  margin-bottom: 20px;
  line-height: 1.8;
}

.box-shadow {
  box-shadow: 0px 12px 12px #0000000F;
}

.title-4 {
  font-family: 'Segoe UI bold';
  font-size: 36px;
}

.title-5 {
  font-family: 'Segoe UI bold';
  font-size: 18px;
  margin: 16px 0;
}

/*icon*/
.icon {
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-use {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-use.svg);
}

.icon-bill {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-bill.png);
}

.icon-bill_1 {
  width: 57px;
  height: 64px;
  background-image: url(../img/icon/icon-bill_1.svg);
}

.icon-clear {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-clear.png);
}

.icon-global {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-global.svg);
}

.icon-cooperate {
  width: 72px;
  height: 64px;
  background-image: url(../img/icon/icon-cooperate.svg);
}

.icon-global_s {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-global_s.svg);
}

.icon-setting {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-setting.svg);
}

.icon-connect {
  width: 70px;
  height: 64px;
  background-image: url(../img/icon/icon-connect.svg);
}

.icon-cloud {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-cloud.svg);
}

.icon-network_1 {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-network_1.svg);
}

.icon-money {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-money.svg);
}

.icon-simple {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-simple.svg);
}

.icon-easyUse {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-easyUse.svg);
}

.icon-extend {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-extend.svg);
}

.icon-security_safe {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-security_safe.svg);
}

.icon-security {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-security.svg);
}

.icon-automatic-check {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-automatic-check.svg);
}

.icon-hardware_1 {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-hardware_1.svg);
}

.icon-divide_1 {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-divide_1.svg);
}

.icon-update_1 {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-update_1.svg);
}

.icon-cloud-draas {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-cloud-draas.svg);
}

.icon-location_1 {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-location_1.svg);
}

.icon-persional-data {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-persional-data.svg);
}

.icon-reduce {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-reduce.svg);
}

.icon-statistics {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-statistics.svg);
}

.icon-control-ennegy {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-control-ennegy.svg);
}

.icon-clear-cost {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-clear-cost.svg);
}

.icon-data-app {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-data-app.svg);
}

.icon-store-saas {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-store-saas.svg);
}

.icon-coperate-well {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-coperate-well.svg);
}

.icon-v-data-center {
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/icon-v-data-center.svg);
}

.icon-virtual-d-c {
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/icon-VirtualServer.svg);
}

.icon-backup {
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/icon-Backup.svg);
}

.icon-DRaaS {
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/icon-DRaaS.svg);
}

.icon-virtual-s {
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/icon-VirtualServer.svg);
}

.icon-replication {
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/icon-replication.svg);
}

.icon-app {
  width: 100px;
  height: 100px;
  background-image: url(../img/icon/icon-app.svg);
}

.icon-user {
  width: 30px;
  height: 32px;
  background-image: url(../img/icon/icon-user.svg);
}

.over-left {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
}

.over-left img {
  margin: auto;
  display: block;
}

img {
  max-width: 100%;
}

.box-style img {
  max-width: 100%;
  width: 100%;
}

/*art-1 */
.art-1 h3 {
  color: #004FA3;
  font-size: 48px;
  font-family: 'Segoe UI Bold';
}

.art-1 hr, .art-2 hr, .art-5 hr {
  margin-left: 0;
}

/*art-2*/
/*art-3 */
.art-3 {
  padding: 40px;
  cursor: pointer;
  height: 100%;
  margin-bottom: 1rem;
}

.art-3:hover {
  box-shadow: 0px 12px 48px #0000000F;
}

/*art-4*/
.art-4 {
  padding: 50px;
  border: 2px solid #F6F6F6;
  border-radius: 6px;
  margin-top: 30px;
}

/*list-customer*/
.list-customer {
  list-style: none;
  text-align: center;
  padding: 0;
}

.list-customer li {
  display: inline-block;
  list-style: none;
  margin: 30px 10px 0 10px;
}

.list-customer li a {
  display: block;
  transition: all .2s ease;
}

.list-customer li a:hover {
  transform: translateY(-1px);
}

.list-customer {
  list-style: none;
  text-align: center;
  padding: 0;
}

.list-customer div {
  display: inline-block;
  list-style: none;
  margin: 30px 10px 0 10px;
}

.list-customer div a {
  display: block;
  transition: all .2s ease;
}

.list-customer div a:hover {
  transform: translateY(-1px);
}

/*tool-contact*/
.tool-contact {
  position: fixed;
  right: 30px;
  bottom: 105px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.tool-contact li {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

.tool-contact li:hover {
  cursor: pointer;
}

.tool-contact li .dropdown-menu {
  padding: 12px 0;
  background: #004FA3;
  border-radius: 6px;
  min-width: 270px;
  top: -15px !important;
}

.tool-contact li .dropdown-menu:after {
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #004FA3;
  content: "";
  right: 20px;
  bottom: -6px;
}

.tool-contact li .dropdown-menu a {
  display: block;
  padding: 8px 20px;
  white-space: normal;
  color: #fff;
}

.tool-contact li .dropdown-menu a i {
  margin-right: 3px;
  display: inline-block;
}

.tool-contact li .dropdown-menu a span {
  margin-left: 3px;
  display: inline-block;
}

.tool-contact li .dropdown-menu a:hover {
  text-decoration: none;
  color: #FF8830;
}

.btn-call-now {
  width: 54px;
  height: 54px;
  display: block;
  background-image: url(../img/icon-call.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn-call-now:after {
  display: none !important;
}

.btn-message {
  width: 54px;
  height: 54px;
  display: block;
  background-image: url(../img/icon-ms-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*icon*/
.icon-auto {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-auto.svg);
}

.icon-hardware {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-hardware.svg);
}

.icon-tech {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-tech.svg);
}

/*faq*/
.block-faq {
  margin-bottom: 100px;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.frm-faq {
  display: inline-block;
  position: relative;
}

.frm-faq .txt-search-faq {
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 40px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid #A1A1A1;
  width: 300px;
}

.frm-faq .txt-search-faq:focus {
  outline: none;
}

.frm-faq .btn-search-faq {
  position: absolute;
  left: 10px;
  top: 6px;
  background: none;
  border: 0;
}

.accordionfaq {
  margin-top: 35px;
}

.accordionfaq .card {
  margin-bottom: 30px;
  border: 0;
  border-radius: 10px !important;
}

.accordionfaq .card .card-body {
  font-size: 16px;
  padding: 30px 40px;
}

.accordionfaq .card .card-header {
  border-radius: 10px !important;
  background: #eee;
  border: solid 1px #eee;
}

.accordionfaq .card .card-header .btn {
  position: relative;
  border: 0;
  display: block;
  text-align: left;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 35px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.25;
}

.accordionfaq .card .card-header .btn:hover {
  transform: translateY(0px);
}

.accordionfaq .card .card-header .btn:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  content: "";
  width: 17px;
  height: 17px;
  background: url(../img/icon/icon-minus.svg) center center no-repeat;
}

.accordionfaq .card .card-header .btn.collapsed:before {
  background: url(../img/icon/icon-plus.svg) center center no-repeat;
}

/*support center*/
.icon-profits {
  width: 75px;
  height: 64px;
  background-image: url(../img/icon/icon-profits.svg);
}

.icon-execution {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-execution.svg);
}

.icon-commission {
  width: 60px;
  height: 64px;
  background-image: url(../img/icon/icon-commission.svg);
}

.slider-agency .slick-slide a {
  display: block;
  box-shadow: 1px 1px 8px #e8e8e8;
  margin: 15px;
  border-radius: 6px;
  text-align: center;
}

.slider-agency .slick-slide a img {
  display: inline-block;
}

.slider-agency .slick-prev, .slider-agency .slick-next {
  width: 32px;
  height: 32px;
  margin-top: -3px;
}

.slider-agency .slick-prev {
  background: url(../img/icon/icon-prev.svg) 0 0 no-repeat;
}

.slider-agency .slick-next {
  background: url(../img/icon/icon-next.svg) 0 0 no-repeat;
}

.slider-agency .slick-prev:before, .slider-agency .slick-next:before {
  display: none;
}

/*corporate*/
.icon-manage {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-manage.svg);
}

.icon-save {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-save.svg);
}

.icon-network {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-network.svg);
}

.icon-server {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-server.svg);
}

.icon-datacenter {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-datacenter.svg);
}

.icon-backup-1 {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-backup_1.svg);
}

.icon-DRaas {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-DRaas.svg);
}

/*secondsite_DRaaS*/
.icon-fast {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-fast.svg);
}

.icon-cost {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-cost.svg);
}

.icon-process {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-process.svg);
}

.icon-free {
  width: 64px;
  height: 64px;
  background-image: url(../img/icon/icon-free.svg);
}

/*support center*/
.block-support {
  padding: 50px 0;
}

.block-support .inner-support {
  width: 100%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.title-border {
  font-size: 30px;
  font-family: 'Segoe UI Bold';
  color: #444;
  padding-bottom: 10px;
  border-bottom: solid 1px #A1A1A1;
  margin-bottom: 30px;
}

.block-bar {
  margin-bottom: 30px;
}

.block-bar h4 {
  font-size: 18px;
}

.block-bar.block-bg {
  padding: 25px 25px;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border-radius: 6px;
}

.list-faq {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-faq li {
  list-style: none;
  margin-top: 16px;
}

.list-faq li a {
  color: #444;
}

.art-subject {
  display: flex;
  margin-bottom: 10px;
}

.art-subject .outer-icon {
  margin-right: 15px;
}

.frm .form-check {
  margin: 10px 0 10px 10px;
  padding-left: 1.5rem;
}

.frm .form-check .form-check-input {
  margin-left: -1.5rem;
}

.accordionfaq .card {
  border: 1px solid #eee;
}

.accordion > .card:not(:first-of-type):not(:last-of-type), .accordion > .card:first-of-type {
  border-bottom: solid 1px #eee !important;
}

@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 20px, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 20px, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@media (min-width: 992px) {
  .title-5 {
    min-height: 42px;
  }
}

@media (min-width: 1199px) {
  .vm-ware .bg-box-txt .art-2, .vm-ware .bg-box-txt.art-2 {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
  .main-nav .container {
    max-width: 1366px;
  }
  .art-1 {
    margin-top: 100px;
  }
  .footer .user-try {
    max-width: 250px;
  }
  .footer .user-try dd {
    display: flex;
  }
  .footer .user-try dd:nth-child(2) a:nth-child(2) {
    max-width: 53.5%;
    display: block;
    width: 53.5%;
    text-align: right;
  }
  .footer .user-try dd:nth-child(2) a:first-child {
    text-align: left;
    flex-grow: 1;
    width: 70px;
    margin-right: 10px;
  }
  .footer .user-try dd:nth-child(3) a:nth-child(2) {
    max-width: 68%;
    width: 68%;
  }
  .footer .user-try dd:nth-child(3) a:first-child {
    width: 60px;
    flex-grow: 1;
  }
  .footer .user-try dd:nth-child(3) a:nth-child(2) img {
    height: 100%;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1366px;
  }
  .main-nav .container {
    max-width: 1600px;
  }
}

@media (max-width: 1025px) {
  body {
    padding-top: 80px;
    font-size: 16px;
  }
  .btn {
    font-size: 17px;
  }
  .art {
    font-size: 16px;
  }
  .art-1 h3 {
    font-size: 36px;
  }
  .title-4 {
    font-size: 30px;
  }
  .footer .user-try dd img {
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .frm-faq {
    margin-top: 50px;
  }
  .vm-ware .bg-box-img-r, .vm-ware .bg-box-img-l {
    background: none;
    padding: 20px 15px 0 15px !important;
  }
  .vm-ware .bg-box-txt {
    background: none;
    padding: 0 15px !important;
  }
  .art-2.m-4 {
    margin: 0 !important;
  }
  .m-blog .m-header {
    min-height: 360px;
    margin-bottom: 0;
  }
  .shadow {
    width: 100%;
  }
  .art-2.p-5 {
    padding: 0 !important;
  }
  .vm-ware .choose {
    margin: 0;
  }
  .page-section .row .col-lg-6:nth-child(2) {
    padding-top: 20px;
  }
  .frm-blog {
    margin-top: 30px;
  }
  .m-menu {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .vm-ware .price {
    margin: 20px 0;
  }
  .accordionfaq .card .card-header .btn {
    font-size: 16px;
  }
  .accordionfaq .card .card-body {
    padding: 15px 0 0 0;
  }
  .frm-faq, .frm-faq .txt-search-faq {
    width: 100%;
  }
  .btn {
    height: 38px;
    line-height: 36px;
    padding: 0 20px;
    font-size: 16px;
    transition: all .2s ease;
    border-radius: 6px;
  }
  .vm-ware, .page-section {
    overflow: hidden;
  }
  .title-4 {
    font-size: 24px;
  }
  .slick-top .full-height {
    height: auto;
    padding-bottom: 60px;
  }
  .page-section {
    padding: 50px 0;
  }
  .list-customer div {
    margin: 0;
    display: block;
  }
  .slick-top .slick-dots {
    bottom: 20px;
  }
  /*art-1*/
  .art-1 {
    margin: 50px 0 !important;
  }
  .art-1 h3 {
    font-size: 24px;
    color: #444;
  }
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .slick-dots li {
    margin-left: 0;
    margin-right: 0;
  }
  .art-3 {
    padding: 30px 15px 0 15px;
  }
  .main-nav .navbar-nav-left li {
    vertical-align: top;
    z-index: 9999;
  }
  .main-nav .navbar-nav-left .dropdown-menu {
    padding: 0;
    border: 0;
    width: auto;
    min-width: 5px;
  }
  .main-nav .navbar-nav-left .dropdown-menu a {
    padding-left: 0px;
    padding-right: 0px;
  }
  .vm-ware .bg-box-txt {
    background: none;
    padding: 0 15px !important;
  }
  .vm-ware .bg-box-img-r {
    background: none;
  }
  .tool-contact {
    right: 30px;
    bottom: 90px;
  }
  /*m-blog*/
  .m-blog .m-header .m-title h3 {
    font-size: 32px;
  }
  .vm-ware .choose {
    padding: 20px;
  }
  .vm-ware .choose .configurator ul li {
    display: block;
  }
  .vm-ware .choose .configurator ul li .option {
    width: 100%;
    margin-top: 0;
  }
  .vm-ware .choose .configurator ul li .value {
    width: 100%;
    margin-top: 30px !important;
  }
  .vm-ware .choose .configurator ul li .value.outer-select {
    margin-top: 20px !important;
  }
  .footer {
    padding-top: 40px;
  }
  .footer .top-footer > div {
    margin-top: 10px;
  }
  .footer dl {
    margin-bottom: 0;
  }
  .vm-ware .package {
    padding: 20px 20px 15px 20px;
  }
  .vm-ware .package ul li {
    margin-bottom: 10px;
  }
  .vm-ware .package .text-center .d-flex {
    height: 50px;
  }
  .vm-ware .package .title-6 {
    font-size: 16px;
    font-family: "Segoe UI Bold";
  }
  .vm-ware .package .title-6 span {
    font-size: 12px;
  }
  .vm-ware .package .title-6 {
    height: auto;
  }
  .vm-ware .package hr {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .vm-ware .price .unit {
    font-size: 11px;
  }
  .vm-ware .price .money {
    font-size: 34px;
  }
  .vm-ware .package ul li {
    font-size: 12px;
  }
  .vm-ware .choose .configurator ul li .option {
    font-size: 16px;
  }
  .vm-ware .choose .sub-total .total, .vm-ware .choose .sub-total .title {
    font-size: 15px;
  }
  .m-contact {
    margin: 50px 0;
  }
  .m-contact .info {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .m-contact .m-info .frm button.btn {
    height: 38px;
    line-height: 36px;
    padding: 0 20px;
    font-size: 16px;
    transition: all .2s ease;
    border-radius: 6px;
  }
  .m-blog .m-header {
    background-size: contain;
    background-position: center bottom;
  }
  .vm-ware .package .title-6 span i {
    margin-top: 6px;
  }
  .vm-ware .choose .configurator ul li .wrapper-switch {
    position: relative;
    right: 0;
    width: 100%;
    height: 32px;
    top: 0;
    margin-top: 15px;
  }
  .m-single {
    width: 100%;
  }
  .m-single .top h1 {
    font-size: 24px;
    line-height: 1.2;
  }
  .m-single .top {
    margin: 20px 0;
  }
  .m-single .top .info {
    margin: 15px 0 !important;
  }
  .related-post {
    margin: 50px 0;
  }
  .related-post .m-title {
    font-size: 24px;
  }
  .related-post .content {
    margin: 15px 0 30px 0;
  }
  .related-post .content .title {
    font-size: 17px;
  }
  .m-contact .m-info {
    padding: 20px;
  }
}
