.m-blog{
   background: #FFFFFFE6;
   input{
     background: #F7F7F7;
     border: 0;
     &::placeholder{
       color: #7A7A7A;
       font-size: 13px;
       line-height: 22px;
       //font-family: "Roboto Light";
     }
   }
   .m-menu{
     padding: 0 10px;
     p{
       font-size: 18px;
       line-height: 36px;
       font-family: "Segoe UI Bold";
       color: #444; padding-bottom: 8px; border-bottom: solid 1px #ddd;
     }
     ul{
       list-style: none;
       padding: 0;
       li{
         margin-bottom: 15px;
         a{
           font-size: 16px;
           line-height: 24px;
           font-family: "Segoe UI";
           letter-spacing: 0;
           color: #444444;
           &:active,
           &:focus,
           &:hover {
             color: $primary;
           }
         }
       }
     }
   }
   .m-header{
     background: url(../img/blog/Banner.png) center center no-repeat; background-size: cover;
     min-height: 450px;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     display: table;
     box-shadow: 0px 5px 40px #e8e8e8;
     margin-bottom: 50px;
     .m-title {
       text-align: center;
       font-family: "Segoe UI Bold";

       line-height: 58px;
       font-weight: bold;
       color: $secondary;
       padding: 20px 40px;
       display: table-cell;
       text-align: center;
       vertical-align: middle;
       h3 {  font-size: 48px; }
     }
   }
   .m-news{
     .m-thumbs{
       position: relative;
       a{
         display: block;
         width: 100%;
         padding-bottom: 62.5%;
         position: relative;
         overflow: hidden;
         img{
           position: absolute;
           top: 0;
           left: 0;
           object-fit: cover;
           height: 100%;
           width: 100%;
         }
       }
     }
     .m-content{
       margin: 15px 0 30px;
       .title{
         font-size: 18px;
         line-height: 22px;
         font-family: "Segoe UI Semibold";
         color: #444444;
         a{
           color:#444444;
           &:active,
           &:focus,
           &:hover {
             color: $primary;
           }
         }
       }
       .time{
         font-size: 14px;
         line-height: 18px;
         font-family: "Open Sans";
         color: #A1A1A1;
         a{
           color:#A1A1A1;
           &:active,
           &:focus,
           &:hover {
             color: $primary;
           }
         }
       }
       .author{
         font-size: 14px;
         line-height: 18px;
         font-family: "Open Sans";
         color: #444444;
         a{
           color:#444444;
           &:active,
           &:focus,
           &:hover {
             color: $primary;
           }
         }
       }
     }
   }
   .m-pagination{
     margin: 30px 0 80px;
     ul li{
       &:first-child,
       &:last-child
       {
         a{
           background: none;
           border: 1px solid #F6F7FD;
         }
       }
     }

     .page-link{
       border: 0;
       color: #444444;
       background: #F7F7F7;
       margin-left:10px;
       border-radius: 6px;
       &:active,
       &:focus,
       &:hover {
         color: #fff;
         background:#FFB061;
       }
     }
   }
 }
.m-blog .m-pagination .active .page-link { color: #fff; background:#FFB061;  }
.m-single{
  width: 80%;
  margin: 0 auto; text-align: center;
  .top{
    text-align: center;
    color: #444444;
    margin: 40px 0;
    .info{
      color: #ccc;
    }
    hr{
      width: 80%;
      border-width: 2px;
      border-color: #f1f1f1;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h1{
      font: Bold 36px/48px Segoe UI Bold;
    }
    .datetime,
    .cate,
    .author{
      color: #ccc;
      font: Regular 14px/24px Open Sans;
      a{
        color: #ccc;
        &:active,
        &:focus,
        &:hover {
          color: #FFB061;
        }
      }
    }
    .desctiption{
      font: Regular 16px/28px Roboto;
    }
  }
  .content{
    color: #444444;
    p{
      font-size: 16px;
      line-height: 28px;
    }
    h3{
      font: Bold 24px/36px Roboto;
    }
    img{max-width: 100%; text-align: center; margin-bottom: 10px}
  }
}
.related-post{
  margin: 80px 0;
  .m-title{
    text-align: center;
    font-size: 48px;
    font-family:  Segoe UI Bold ;
  }
  .thumb{
    position: relative;
    background: transparent;
    a{
      box-shadow: 0px 5px 17px #cecece;
      border-radius: 10px;
      display: block;
      width: 100%;
      padding-bottom: 62.5%;
      position: relative;
      overflow: hidden;
      img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
  .content{
    margin:30px 0;
    text-align: left;
    .title{
      font-size: 18px;
      line-height: 22px;
      font-family: "Segoe UI Semibold";
      color: #444444;
      a{
        color:#444444;
        &:active,
        &:focus,
        &:hover {
          color: $primary;
        }
      }
    }
    .time{
      font-size: 14px;
      line-height: 18px;
      font-family: "Open Sans";
      color: #A1A1A1;
      a{
        color:#A1A1A1;
        &:active,
        &:focus,
        &:hover {
          color: $primary;
        }
      }
    }
    .author{
      font-size: 14px;
      line-height: 18px;
      font-family: "Open Sans";
      color: #444444;
      a{
        color:#444444;
        &:active,
        &:focus,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.m-contact .info { font-size: 36px; font-family: 'Segoe UI Bold';}