.m-contact{
  margin: 120px 0px;
  .info{
    margin-top: 100px;
  }
  .title{
    //text-align: center;
    hr{
      float: left;
    }
  }
  .address{
    font-size: 16px;
    line-height: 24px;
    font-family: "Open Sans";
    ul{
      list-style: none;
      padding: 0;
      li{
        margin-bottom: 15px;
        color: #444;
        a{
          color: #444444;
          &:active,
          &:focus,
          &:hover {
            color: #FFB061;
            //background:#FFB061;
          }
        }
        .title-map{
          font-size: 14px;
          line-height: 18px;
          font-family: "Open Sans Bold";
          color: #175EAB;
          i{
            margin-right:5px;
          }
        }
      }
    }
  }
  .m-info{
    background: #fff;
    box-shadow: 3px 1px 15px #e2e2e2;
    border-radius: 10px;
    padding: 40px 30px;
    color: #444444;
    .note{
      font-family: "Open Sans SemiBold";
      font-size: 16px;
      line-height: 24px;
    }
    .frm{
      label{
        font-family: "Open Sans SemiBold";
        font-size: 12px;
        line-height: 18px; text-transform: uppercase;
        span{
          color: #FF8830;
        }
      }
      input.form-control,
      textarea.form-control{
        background: #F6F6F6; padding: 15px 25px;
        border: 0;
        &::placeholder{
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 22px;
          color: #A1A1A1;
        }
      }
      .checkbox{
        background: #F6F6F6;
        input[type=checkbox] {
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: 0;
          background: #fff;
          height: 16px;
          width: 16px;
          border: 1px solid white;
          &:checked {
            background: #195EAB;
          }
          &:hover{
            filter: brightness(90%);
          }
          &:disabled {
            background: #e6e6e6;
            opacity: 0.6;
            pointer-events: none;
          }
          //&:after {
          //  content: '';
          //  position: relative;
          //  left: 40%;
          //  top: 20%;
          //  width: 15%;
          //  height: 40%;
          //  border: solid #fff;
          //  border-width: 0 2px 2px 0;
          //  transform: rotate(45deg);
          //  display: none;
          //}

          &:checked:after {
            display: block;
          }

          &:disabled:after {
            border-color: #7b7b7b;
          }
        }
        label{
          font-family: "Open Sans";
          font-size: 15px;
          line-height: 23px;
          color: #A1A1A1;
          span{
            color: red;
          }
        }
      }
      button.btn{
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        font-family: "Open Sans SemiBold";
      }
    }
    //.m-frm{
    //  padding: 30px 40px;
    //}
  }
}
.m-map{
  #google{
    width: 100%;
    height: 400px;
    background-color: grey;
  }
}

.m-contact .m-info .frm .checkbox .form-check label { text-transform: none; }