
.footer{
 background: transparent linear-gradient(180deg, #005FC5 0%, #004FA3 100%) 0% 0% no-repeat padding-box; padding-top: 40px;
  text-align: left;
  color: #fff;
}
.footer .top-footer>div{
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer a
{
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}
.footer a:hover { color: $primary; text-decoration: none; }
.footer dl  {  max-width: 250px;}
.footer  .user-try dl { padding-right: 0;  }
.footer  .user-try .btn-primary { width: 100%; }
.footer dt{
   font-family: 'Segoe UI Bold';
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px; margin-top: 15px;
}
.footer dl dt:first-child { margin-bottom: 30px; margin-top: 0; }
.footer dl dt:nth-child(4) { margin-top: 40px; }
.footer dd{
  margin-bottom: 20px
}
.footer dd.logo-footer { margin-top: 30px; margin-bottom: 25px; }
.footer dd address{
  display: grid;
  font-size: 14px;
  line-height: 18px; margin-bottom: 25px;
}
.footer dd.list-social { margin-top: 25px; }
.footer dd address strong {  font-family: 'Segoe UI Semibold';  }
.footer dd address strong i{
  margin-right: 8px
}
.footer dd address span{
  font-weight: 200;
  margin-top: 20px;
}
.footer .use-try dt{
  text-align: center;
    background: #FF8830;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
     font-family: 'Segoe UI Semibold';
    padding: 8px 0;
}
.footer .bottom-footer {
  border-top: 1px solid;
    padding: 30px 0;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
}

/*block dung thư*/

#vhome-hfree{
  background: #fcfcfc;
}

.art{
  font-size: 16px;
  font-weight: 200;
  line-height: 32px;
  font-family: Open Sans;
  color: #444444;
}



.list-social a { display: inline-block; font-size: 40px; margin-right: 15px; }
.bottom-footer { display: flex; }
.bottom-footer p { margin: 0; }
.list-dk { list-style: none; margin: 0; }
.list-dk li { list-style: none; display: inline-block; }
.list-dk li:first-child { padding-right: 5px; }
.list-dk li:last-child { padding-left: 5px; }
.list-dk li a:hover { color:#ff8830; text-decoration: none;  }


@media (max-width: 767px) {
  .footer { position: relative; }
  .footer .top-footer>div.user-try { text-align: center; }
  .footer .user-try dl { max-width: 100%; }
  .footer .user-try .btn-primary { width: 230px; }
  .bottom-footer { text-align: center; display: block;  }
  .bottom-footer p { font-size: 9px; margin-bottom: 8px; }
  .footer .bottom-footer .list-dk { padding: 0; font-size: 9px; }
  .footer .bottom-footer .list-dk a { padding: 0; font-size: 9px; }
  .bottom-footer { margin-left: -30px; margin-right: -30px; margin-top: 100px; }
  .footer .top-footer>div.col-md-6 { position: static; }
  .logo-footer { position: absolute; bottom: 110px; left: 50%; margin-left: -57px; }

}