// Styling icon
.page-section { padding: 100px 0; }
* { outline: none!important; }
body { padding-top: 88px; color: $gray-400;  }
.block-center { margin-top: auto; margin-bottom: auto; }
hr { width: 60px; border-width: 3px; border-color: $primary;  margin-top: 18px; margin-bottom: 10px;  }
.text-muted { color: #444!important; margin-bottom: 20px; line-height: 1.8;}
.box-shadow { box-shadow: 0px 12px 12px #0000000F; }
.title-4 { font-family: 'Segoe UI bold'; font-size: 36px; }
.title-5 { font-family: 'Segoe UI bold'; font-size: 18px; margin: 16px 0; }
/*icon*/
.icon { display: inline-block; background-size: cover; background-position: center; background-repeat: no-repeat; }
.icon-use { width: 64px; height: 64px; background-image: url(../img/icon/icon-use.svg);  }
.icon-bill {width: 64px; height: 64px; background-image: url(../img/icon/icon-bill.png);  }
.icon-bill_1 {width: 57px; height: 64px; background-image: url(../img/icon/icon-bill_1.svg);  }
.icon-clear { width: 64px; height: 64px; background-image: url(../img/icon/icon-clear.png); }
.icon-global { width: 64px; height: 64px; background-image: url(../img/icon/icon-global.svg); }
.icon-cooperate {  width: 72px; height: 64px; background-image: url(../img/icon/icon-cooperate.svg);}
.icon-global_s { width: 64px; height: 64px; background-image: url(../img/icon/icon-global_s.svg); }
.icon-setting {  width: 64px; height: 64px; background-image: url(../img/icon/icon-setting.svg);}
.icon-connect { width: 70px; height: 64px; background-image: url(../img/icon/icon-connect.svg); }
.icon-cloud { width: 64px; height: 64px; background-image: url(../img/icon/icon-cloud.svg); }
.icon-network_1 { width: 64px; height: 64px; background-image: url(../img/icon/icon-network_1.svg); }
.icon-money { width: 64px; height: 64px; background-image: url(../img/icon/icon-money.svg); }
.icon-simple { width: 64px; height: 64px; background-image: url(../img/icon/icon-simple.svg); }
.icon-easyUse { width: 64px; height: 64px; background-image: url(../img/icon/icon-easyUse.svg); }
.icon-extend { width: 64px; height: 64px; background-image: url(../img/icon/icon-extend.svg); }
.icon-security_safe { width: 64px; height: 64px; background-image: url(../img/icon/icon-security_safe.svg); }
.icon-security { width: 64px; height: 64px; background-image: url(../img/icon/icon-security.svg); }

.icon-automatic-check { width: 64px; height: 64px; background-image: url(../img/icon/icon-automatic-check.svg); }
.icon-hardware_1 { width: 64px; height: 64px; background-image: url(../img/icon/icon-hardware_1.svg); }
.icon-divide_1 { width: 64px; height: 64px; background-image: url(../img/icon/icon-divide_1.svg); }
.icon-update_1 { width: 64px; height: 64px; background-image: url(../img/icon/icon-update_1.svg); }

.icon-cloud-draas { width: 64px; height: 64px; background-image: url(../img/icon/icon-cloud-draas.svg); }
.icon-location_1 { width: 64px; height: 64px; background-image: url(../img/icon/icon-location_1.svg); }
.icon-persional-data { width: 64px; height: 64px; background-image: url(../img/icon/icon-persional-data.svg); }
.icon-reduce { width: 64px; height: 64px; background-image: url(../img/icon/icon-reduce.svg); }
.icon-statistics { width: 64px; height: 64px; background-image: url(../img/icon/icon-statistics.svg); }
.icon-control-ennegy { width: 64px; height: 64px; background-image: url(../img/icon/icon-control-ennegy.svg); }
.icon-clear-cost { width: 64px; height: 64px; background-image: url(../img/icon/icon-clear-cost.svg); }
.icon-data-app { width: 64px; height: 64px; background-image: url(../img/icon/icon-data-app.svg); }
.icon-store-saas { width: 64px; height: 64px; background-image: url(../img/icon/icon-store-saas.svg); }
.icon-coperate-well { width: 64px; height: 64px; background-image: url(../img/icon/icon-coperate-well.svg); }




.icon-v-data-center { width: 100px; height: 100px; background-image: url(../img/icon/icon-v-data-center.svg); }
.icon-virtual-d-c { width: 100px; height: 100px; background-image: url(../img/icon/icon-VirtualServer.svg); }
.icon-backup { width: 100px; height: 100px; background-image: url(../img/icon/icon-Backup.svg); }
.icon-DRaaS { width: 100px; height: 100px; background-image: url(../img/icon/icon-DRaaS.svg); }
.icon-virtual-s { width: 100px; height: 100px; background-image: url(../img/icon/icon-VirtualServer.svg); }
.icon-replication { width: 100px; height: 100px; background-image: url(../img/icon/icon-replication.svg); }
.icon-app { width: 100px; height: 100px; background-image: url(../img/icon/icon-app.svg); }
.icon-user { width: 30px; height: 32px; background-image: url(../img/icon/icon-user.svg); }
.over-left {  position: relative; z-index: 1; display: flex; height: 100%; }
.over-left img { margin: auto; display: block; }
img{ max-width: 100%; }
.box-style img{ max-width: 100%; width: 100%; }
/*art-1 */
.art-1 h3 { color: $secondary; font-size: 48px;  font-family: 'Segoe UI Bold'; }
.art-1 hr, .art-2 hr, .art-5 hr { margin-left: 0; }

/*art-2*/
.art-2 { }

/*art-3 */
.art-3 { padding: 40px; cursor: pointer; height: 100%; margin-bottom: 1rem;   }
.art-3:hover { box-shadow: 0px 12px 48px #0000000F; }
/*art-4*/
.art-4 { padding: 50px; border: 2px solid #F6F6F6; border-radius: 6px; margin-top: 30px; }

/*list-customer*/
.list-customer  { list-style: none; text-align: center; padding: 0;}
.list-customer li { display: inline-block; list-style: none; margin: 30px 10px 0 10px;  }
.list-customer li a { display: block; transition: all .2s ease; }
.list-customer li a:hover {  transform: translateY(-1px); }
 
.list-customer  { list-style: none; text-align: center; padding: 0;}
.list-customer div { display: inline-block; list-style: none; margin: 30px 10px 0 10px;  }
.list-customer div a { display: block; transition: all .2s ease; }
.list-customer div a:hover {  transform: translateY(-1px); }





/*tool-contact*/
.tool-contact { position: fixed; right: 30px; bottom: 105px; list-style: none; margin: 0; padding: 0; z-index: 2;  }
.tool-contact li { padding: 0; list-style: none; margin-top: 20px; }
.tool-contact li:hover { cursor: pointer; }
.tool-contact li .dropdown-menu  { padding: 12px 0; background:$secondary; border-radius: 6px; min-width: 270px; top: -15px!important}
.tool-contact li .dropdown-menu:after { position: absolute;   border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-top: 5px solid $secondary; content: ""; right: 20px; bottom: -6px; }
.tool-contact li .dropdown-menu a { display: block; padding: 8px 20px; white-space: normal; color: #fff;}
.tool-contact li .dropdown-menu a i { margin-right: 3px; display: inline-block;}
.tool-contact li .dropdown-menu a  span { margin-left: 3px; display: inline-block; }
.tool-contact li .dropdown-menu a:hover { text-decoration: none; color: $primary; }
.btn-call-now { width: 54px; height: 54px; display: block; background-image: url(../img/icon-call.svg); background-repeat: no-repeat; background-position: center; background-size: cover;}
.btn-call-now:after { display: none!important; }
.btn-message { width: 54px; height: 54px; display: block; background-image: url(../img/icon-ms-facebook.svg); background-repeat: no-repeat; background-position: center; background-size: cover;}

/*icon*/

.icon-auto {  width: 64px; height: 64px; background-image: url(../img/icon/icon-auto.svg);}
.icon-hardware { width: 64px; height: 64px; background-image: url(../img/icon/icon-hardware.svg); }
.icon-tech { width: 64px; height: 64px; background-image: url(../img/icon/icon-tech.svg); }


/*faq*/
.block-faq { margin-bottom: 100px;  width: 100%; max-width: 900px; margin-left: auto; margin-right: auto; }
.frm-faq { display: inline-block; position: relative; }
.frm-faq .txt-search-faq { height: 40px; line-height: 40px; padding: 0 20px 0 40px; border-radius: 20px; background: #fff; border: 1px solid #A1A1A1; width: 300px;}
.frm-faq .txt-search-faq:focus { outline: none; }
.frm-faq .btn-search-faq { position: absolute; left: 10px; top: 6px; background: none; border: 0; }
.accordionfaq { margin-top: 35px; }
.accordionfaq .card { margin-bottom: 30px; border: 0; border-radius: 10px!important; }
.accordionfaq .card  .card-body { font-size: 16px; padding: 30px 40px; }
.accordionfaq .card .card-header { border-radius: 10px!important; background: #eee; border: solid 1px #eee; }
.accordionfaq .card .card-header .btn { position :relative; border: 0; display: block;text-align: left; font-size: 18px; color: #444; cursor: pointer; padding-left: 35px; padding-right: 35px; height: auto; padding-top: 10px; padding-bottom: 10px; line-height: 1.25;  }
.accordionfaq .card .card-header .btn:hover { transform: translateY(0px); }
.accordionfaq .card .card-header .btn:before { position: absolute; left: 0; top: 50%; margin-top: -8px; content: ""; width: 17px; height: 17px; background: url(../img/icon/icon-minus.svg) center center no-repeat; }
.accordionfaq .card .card-header .btn.collapsed:before {  background: url(../img/icon/icon-plus.svg) center center no-repeat; }

/*support center*/
.icon-profits { width: 75px; height: 64px; background-image: url(../img/icon/icon-profits.svg); }
.icon-execution { width: 64px; height: 64px; background-image: url(../img/icon/icon-execution.svg); }
.icon-commission { width: 60px; height: 64px; background-image: url(../img/icon/icon-commission.svg); }


.slider-agency .slick-slide a { display: block; box-shadow: 1px 1px 8px #e8e8e8; margin:  15px; border-radius: 6px; text-align: center; }
.slider-agency .slick-slide a img { display: inline-block; }

.slider-agency .slick-prev, .slider-agency .slick-next { width: 32px; height: 32px; margin-top: -3px; }
.slider-agency .slick-prev {   background: url(../img/icon/icon-prev.svg) 0 0 no-repeat; }
.slider-agency .slick-next {   background: url(../img/icon/icon-next.svg) 0 0 no-repeat;}
.slider-agency .slick-prev:before, .slider-agency .slick-next:before { display: none; }


/*corporate*/
.icon-manage { width: 64px; height: 64px; background-image: url(../img/icon/icon-manage.svg); }
.icon-save { width: 64px; height: 64px; background-image: url(../img/icon/icon-save.svg); }
.icon-network { width: 64px; height: 64px; background-image: url(../img/icon/icon-network.svg); }

.icon-server { width: 64px; height: 64px; background-image: url(../img/icon/icon-server.svg); }
.icon-datacenter { width: 64px; height: 64px; background-image: url(../img/icon/icon-datacenter.svg); }
.icon-backup-1 { width: 64px; height: 64px; background-image: url(../img/icon/icon-backup_1.svg); }
.icon-DRaas { width: 64px; height: 64px; background-image: url(../img/icon/icon-DRaas.svg); }

/*secondsite_DRaaS*/
.icon-fast { width: 64px; height: 64px; background-image: url(../img/icon/icon-fast.svg); }
.icon-cost { width: 64px; height: 64px; background-image: url(../img/icon/icon-cost.svg); }
.icon-process { width: 64px; height: 64px; background-image: url(../img/icon/icon-process.svg); }

.icon-free { width: 64px; height: 64px; background-image: url(../img/icon/icon-free.svg); }





/*support center*/
.block-support { padding: 50px 0; }
.block-support .inner-support { width: 100%; max-width: 980px; margin-right: auto; margin-left: auto; }
.title-border { font-size: 30px; font-family: 'Segoe UI Bold'; color: #444; padding-bottom: 10px; border-bottom: solid 1px #A1A1A1; margin-bottom: 30px;}
.block-bar { margin-bottom: 30px; }
.block-bar h4 { font-size: 18px; }
.block-bar.block-bg { padding: 25px 25px; background: #fcfcfc 0% 0% no-repeat padding-box; border-radius: 6px; }
.list-faq { list-style: none; padding: 0; margin: 0; }
.list-faq li { list-style: none; margin-top: 16px;  }
.list-faq li a { color: #444; }

.art-subject { display: flex; margin-bottom: 10px;}
.art-subject .outer-icon{ margin-right: 15px; }

.frm .form-check { margin: 10px 0 10px 10px; padding-left: 1.5rem;}
.frm .form-check .form-check-input { margin-left: -1.5rem; }

.accordionfaq .card { border: 1px solid #eee; }
.accordion>.card:not(:first-of-type):not(:last-of-type), .accordion>.card:first-of-type { border-bottom: solid 1px #eee!important; }


@keyframes slideInUp {
    from {
        transform: translate3d(0, 20px, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0)
    }
}


.slideInUp {
    animation-name: slideInUp
}

@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0)
    }
    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0)
    }
}
.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

.animated.hinge {
    animation-duration: 0.3s
}



