.main-nav { background: $white; } 
.main-nav.navbar-shrink {  box-shadow: 0 0 5px #ddd;  }
.main-nav .navbar-nav-right .nav-item a { color: $secondary; }
.main-nav .navbar-nav-last .nav-item a.btn { padding-left: 0px; padding-right: 20px; color: $primary; }
.main-nav .navbar-nav-last .nav-item a.btn-outline { padding-left: 30px; padding-right: 30px; }
.main-nav .navbar-nav-last .nav-item a.btn:hover { color: $secondary; }
.main-nav .navbar-nav-last .nav-item a.btn-outline:hover { color: $white; }


@media (min-width: 992px) {

    .main-nav.navbar-expand-lg .navbar-nav-right .nav-link {
        padding-right: 25px;
        padding-left: 25px; font-size: 18px;  font-family: 'Segoe UI Semibold';
    }
    .main-nav.navbar-expand-lg .navbar-nav-left .nav-link {
        padding-right: 5px;
        padding-left: 5px;
    }

    .main-nav .dropdown-menu { border: 0; background: none; padding-top: 20px; border-radius: 0; }
    .main-nav .inner-menu { box-shadow: 2px 2px 4px #eee; border: 0; background:#fff;}
    .main-nav .navbar-nav-right .inner-menu .dropdown-item { height: 48px; line-height: 48px; padding-top: 0; padding-bottom: 0;  border-radius: 0; position: relative; color: $gray-400; }
    .main-nav .navbar-nav-right .inner-menu .dropdown-item:hover { color: $primary; background: none;  }
    .main-nav .navbar-nav-right .inner-menu .dropdown-item:after { position: absolute; left: 0; top: 50%; height: 50%; width: 4px; background:$white; content: ""; margin-top: -12px; }
    .main-nav .navbar-nav-right .inner-menu .dropdown-item:hover:after { background: $primary;  }
    .main-nav .navbar-nav-right > .nav-item:hover .nav-link, .main-nav .navbar-nav-right > .nav-item.show .nav-link, .main-nav .navbar-nav-right > .nav-item.active .nav-link {  color: $primary; }
    .main-nav .navbar-nav > li.dropdown .dropdown-menu { margin: 0; }
    .main-nav .navbar-nav > li.dropdown:hover .dropdown-menu { display: block;}
    .main-nav .navbar-nav-left .inner-menu .dropdown-item { padding-left: 5px; padding-right: 0; }
    .main-nav .navbar-nav-left .inner-menu .dropdown-item:hover { background: none; }
    .main-nav .navbar-nav-left .inner-menu { box-shadow: none; }
    .main-nav .ml-left { margin-left: 20px; }
    .main-nav .navbar-nav>li.dropdown.dropdown-flag:hover .dropdown-menu { margin-left: 0; }
}
@media (min-width: 1366px) {
   
    .main-nav .navbar-nav > li.dropdown .dropdown-menu { margin-left: 20px;}
}
@media (min-width: 1600px) {
    .main-nav.navbar-expand-lg .navbar-nav-right .nav-link { padding-left: 38px; padding-right: 38px; }
    .main-nav .navbar-nav > li.dropdown .dropdown-menu { margin-left: 34px;}
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .main-nav .container { max-width: 100%; }
    .main-nav.navbar-expand-lg .navbar-nav-right .nav-link { padding-right: 20px; padding-left: 20px; }
    .main-nav .navbar-nav-last .nav-item a.btn-outline { padding-left: 20px; padding-right: 20px; }
}
@media (min-width: 1141px) and (max-width: 1279px) {
    .main-nav .container { max-width: 100%; }
    .main-nav.navbar-expand-lg .navbar-nav-right .nav-link { padding-right: 14px; padding-left: 14px;  }
    .main-nav .navbar-nav-last .nav-item a.btn { padding-right: 15px; }
    .main-nav .navbar-nav-last .nav-item a.btn-outline { padding-left: 15px; padding-right: 15px;  }
    .main-nav .ml-left { margin-left: 10px; }
}
@media (min-width: 1023px) and (max-width: 1140px) {
    .main-nav .container { max-width: 100%; }
    .main-nav.navbar-expand-lg .navbar-nav-right .nav-link { padding-right: 13px; padding-left: 13px; font-size: 15px; }
    .main-nav .navbar-nav-last .nav-item a.btn { padding-right: 13px;  font-size: 15px;}
    .main-nav .navbar-nav-last .nav-item a.btn-outline { padding-left: 13px; padding-right: 13px;  font-size: 15px;}
    .main-nav .ml-left { margin-left: 10px; }
}
@media  (max-width: 991px) {
    
    .main-nav { height: 80px; padding-left: 25px; padding-right: 25px; z-index: 9999999999;  }
    .main-nav .navbar-nav-left {  display: inline-block; margin-top: 11px; margin-left: 5px;}
    .main-nav .navbar-nav-left li { display: inline-block; }
    .main-nav .logo .navbar-brand { padding: 0; float: left; width: 90px; }
    .main-nav .logo { margin-bottom: 0; padding: 2px 0; float: left; margin-top: 12px; }
    .main-nav .container { display: block; height: 80px;} 
    .main-nav .navbar-nav-right .nav-item a { padding-bottom: 11px; padding-top: 12px; border-top: solid 1px #eee; padding-left: 15px; padding-right: 15px; }
     .main-nav .collapse .navbar-nav-right .nav-item:first-child > a { border-top: 0; padding-top: 0; }
    .main-nav .navbar-toggler {   float: right; outline: none;
    width: 43px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: 0;  margin-top: 7px;}

    .btn-menu { width: 58px; opacity: 0.8;
    height: 48px;
    position: relative;
    cursor: pointer;
    z-index: 100;
    display: block;}

    .btn-menu:before {
    transition: all .3s ease;
    position: absolute;
    top: 13px;
    right: 15px;
    display: block;
    height: 2px;
    width: 30px;
    background: #004fa3;
    content: '';
}
.btn-menu:after {
    position: absolute;
    top: 24px;
    right: 15px;
    display: block;
    height:13px;
    width: 30px;
    border-top: 2px solid #004fa3;
    border-bottom: 2px solid #004fa3;
    content: '';
}
.toggled .btn-menu:before {
  top: 21px;
  background: #004fa3;
  width: 30px;
  transform: rotate(-45deg); }

.toggled .btn-menu:after {
  transition: all .3s ease;
  top: 21px;
  border: 0;
  height: 2px;
  width: 30px;
  background: #004fa3;
  transform: rotate(45deg); }

.main-nav .navbar-nav-right,.main-nav .navbar-nav-last { display: block; }
.main-nav .navbar-collapse.collapse { transition: all .3s ease; top: 80px; right: -100%;  width: 100%; position: fixed; display: block; background: #fff; margin-right: -15px; margin-left: -15px; padding:10px 15px 20px 15px; margin-top: 0;}
.toggled .main-nav .navbar-collapse.collapse  { right: 15px; height: calc(100vh - 80px); overflow-y: auto; z-index: 999; }
.main-nav .navbar-collapse.collapse {height: calc(100vh - 80px);   }
.main-nav .navbar-nav.navbar-nav-last { display: block;  }
.main-nav .navbar-nav.navbar-nav-last li { display: inline-block; }
.main-nav .navbar-nav-last .nav-item a.btn.btn-outline { background: $primary; color: $white; }
.main-nav .navbar-nav-right .nav-item a { color: #444;  font-family: 'Segoe UI Semibold'; position: relative;   }
.main-nav .navbar-nav-right .nav-item.dropdown > a:before { transition: all .2s ease-in-out 0s; position: absolute; right: 10px; top: 15px;  font-size: 12px; width: 12px; height: 12px; font-family: 'Font Awesome\ 5 Free'; content: '\f054';  font-weight: 600;}
.main-nav .navbar-nav-right .nav-item.dropdown:first-child a:before { top: 8px; }
.main-nav .navbar-nav-right .nav-item.dropdown .dropdown-menu.show { padding: 0; border: 0; margin: 0;}
.main-nav .navbar-nav-right .nav-item.dropdown .dropdown-menu.show a { font-family: 'Segoe UI'; border: 0;  }
.main-nav .navbar-nav-right .nav-item.dropdown .dropdown-menu.show a:first-child { border-top: solid 1px #eee;  }
.main-nav .navbar-nav-right .nav-item.dropdown.show > a { color: #004FA3; }
.main-nav .navbar-nav-right .nav-item.dropdown.show > a:before { transform: rotate(90deg); top: 20px; color: #999;}
.main-nav .navbar-nav-right .nav-item.dropdown.show:first-child > a:before { top: 12px; }
}
@media  (max-width: 767px) {
    .main-nav .navbar-nav.navbar-nav-last { overflow: hidden; margin-left: -5px; margin-right: -5px; padding-top: 30px; padding-left: 15px; padding-right: 15px; }
    .main-nav .navbar-nav.navbar-nav-last li {width: 50%; float: left; padding: 0 5px; }
    .main-nav .navbar-nav.navbar-nav-last li a { width: 100%; padding-left: 0!important; padding-right: 15px; height: 38px; line-height: 37px; text-align: left; }
    .main-nav .navbar-nav-last .nav-item a.btn.btn-outline { text-align: center; padding-left: 15px!important; padding-right: 15px!important;}
}