
@media (min-width: 992px) {

    .title-5  { min-height: 42px;}
}	
@media (min-width: 1199px) {
	 
    .vm-ware .bg-box-txt .art-2, .vm-ware .bg-box-txt.art-2 { margin-top: auto!important;  margin-bottom: auto!important; }
}
@media (min-width: 1366px) {
	

     .container {
         max-width: 1280px;
    }
     .main-nav .container {
        max-width: 1366px;
    }
    .art-1  { margin-top: 100px; }
    .footer .user-try { max-width: 250px; }
    .footer .user-try dd { display: flex; }
    .footer .user-try dd:nth-child(2) a:nth-child(2) { max-width: 53.5%; display: block; width: 53.5%; text-align: right;}
    .footer .user-try dd:nth-child(2) a:first-child { text-align: left; flex-grow: 1; width: 70px; margin-right: 10px;  }
     .footer .user-try dd:nth-child(3) a:nth-child(2) {  max-width: 68%;  width: 68%; }
     .footer .user-try dd:nth-child(3) a:first-child { width: 60px; flex-grow: 1; }
     .footer .user-try dd:nth-child(3) a:nth-child(2) img { height: 100%; }
}

@media (min-width: 1600px) {
	

     .container {
         max-width: 1366px;
    }
     .main-nav .container {
        max-width: 1600px;
    }
   
}



@media (max-width: 1025px) {
	
	 body { padding-top: 80px;font-size: 16px; }
	.btn{ font-size: 17px; }
	.art { font-size: 16px; }
	.art-1 h3 { font-size: 36px; }
	.title-4 { font-size: 30px; }
	.footer .user-try dd img { margin-top: 5px; }
}
@media (max-width: 991px) {
	.frm-faq { margin-top: 50px; }
	.vm-ware .bg-box-img-r,.vm-ware .bg-box-img-l { background: none; padding: 20px 15px 0 15px!important; }
	.vm-ware .bg-box-txt { background: none; padding: 0 15px!important; }
	.art-2.m-4 { margin: 0!important; }
	.m-blog .m-header { min-height: 360px; margin-bottom: 0; }
	.shadow { width: 100%; }
	.art-2.p-5 { padding: 0!important; }
	.vm-ware .choose { margin: 0; }
	.page-section .row .col-lg-6:nth-child(2)  { padding-top: 20px; }
	.frm-blog { margin-top: 30px; }  
	.m-menu{ margin-bottom: 30px; }
}
@media (max-width: 767px) {
	.vm-ware .price { margin: 20px 0; }
	.accordionfaq .card .card-header .btn { font-size: 16px; }
	.accordionfaq .card .card-body { padding: 15px 0 0 0;  }
	.frm-faq , .frm-faq .txt-search-faq { width: 100%; }
	.btn { height: 38px; line-height: 36px; padding: 0 20px;  font-size: 16px; transition: all .2s ease; border-radius: 6px;}
	.vm-ware , .page-section { overflow: hidden; }
	.title-4 { font-size: 24px; } 
	 .slick-top .full-height { height: auto; padding-bottom: 60px; }
	 .page-section { padding: 50px 0; }
	 .list-customer div {  margin: 0; display: block; }
	 .slick-top .slick-dots { bottom: 20px; }
	 /*art-1*/
	 .art-1  { margin: 50px 0!important; }
	 .art-1 h3 { font-size: 24px; color: #444; }
	 .container { padding-right: 30px; padding-left: 30px; }
	 .slick-dots li { margin-left: 0; margin-right: 0; }
	 .art-3 { padding: 30px 15px 0 15px; }
	 .main-nav .navbar-nav-left li { vertical-align: top;  z-index: 9999;}
	 .main-nav .navbar-nav-left .dropdown-menu { padding: 0; border:0; width: auto; min-width: 5px; }
	 .main-nav .navbar-nav-left .dropdown-menu a { padding-left: 0px; padding-right: 0px; }
	 .vm-ware .bg-box-txt { background: none; padding: 0 15px!important; }
	 .vm-ware .bg-box-img-r { background: none; }
	 .tool-contact { right: 30px; bottom: 90px; }

	 /*m-blog*/
	 .m-blog .m-header .m-title h3 { font-size: 32px; }
	 .vm-ware .choose { padding: 20px; }
	 .vm-ware .choose .configurator ul li { display: block; }
	 .vm-ware .choose .configurator ul li .option { width: 100%;margin-top: 0; }
	 .vm-ware .choose .configurator ul li .value { width: 100%; margin-top: 30px!important;}
	 .vm-ware .choose .configurator ul li .value.outer-select {  margin-top: 20px!important; }
	 .footer { padding-top: 40px; }
	 .footer .top-footer > div { margin-top: 10px; }
	 .footer dl { margin-bottom: 0; }
	 .vm-ware .package { padding: 20px 20px 15px 20px; }
	 .vm-ware .package ul li { margin-bottom: 10px; }
	 .vm-ware .package .text-center .d-flex { height: 50px; }
	 .vm-ware .package .title-6 { font-size: 16px;     font-family: "Segoe UI Bold";  }
	 .vm-ware .package .title-6 span { font-size: 12px; }
	 .vm-ware .package .title-6 { height: auto; }
	 .vm-ware .package hr { margin-top: 20px; margin-bottom: 30px; }
	 .vm-ware .price .unit { font-size: 11px; }
	 .vm-ware .price .money { font-size: 34px; }
	 .vm-ware .package ul li { font-size: 12px; }
	 .vm-ware .choose .configurator ul li .option { font-size: 16px; }
	 .vm-ware .choose .sub-total .total, .vm-ware .choose .sub-total .title { font-size: 15px; }
	 .m-contact { margin: 50px 0; }
	 .m-contact .info { margin-top: 0; margin-bottom: 50px; }
	 .m-contact .m-info .frm button.btn { height: 38px; line-height: 36px; padding: 0 20px;  font-size: 16px; transition: all .2s ease; border-radius: 6px; }
	 .m-blog .m-header { background-size: contain; background-position: center bottom; }
	 .vm-ware .package .title-6 span i { margin-top: 6px; }
	 .vm-ware .choose .configurator ul li .wrapper-switch { position: relative; right: 0; width: 100%; height: 32px; top: 0;  margin-top: 15px;}
	 .m-single { width: 100%; }
	 .m-single .top h1 { font-size: 24px; line-height: 1.2; }
	 .m-single .top { margin: 20px 0;  }
	 .m-single .top .info { margin: 15px 0!important; }
	 .related-post { margin: 50px 0; }
	 .related-post .m-title { font-size: 24px; }
	 .related-post .content { margin: 15px 0 30px 0; }
	 .related-post .content .title { font-size: 17px; }
	 .m-contact .m-info { padding : 20px;}

}
