.slick-top { overflow: hidden; }
.slick-top .full-height { height:  calc(100vh - 88px); display: flex; }
.slick-top .block-center { margin: auto; }
.slick-top .block-center .col-md-6 { display: flex; }
.slick-top .block-center .col-md-6 .art-1 { margin-top: auto; margin-bottom: auto; }

.slick-top .slick-dots { bottom: 50px; }
.slick-top .slick-dots li { margin-left: 0px; padding-right: 0px; }
.slick-top .slick-dots li button:before { font-size: 10px; color: $gray-300; opacity: 1; }
.slick-top .slick-dots li.slick-active button:before { color: $primary; }

.slick-top .slick-prev { width: 48px; height: 48px; }
.slick-top .slick-next { width: 48px; height: 48px; }
.slick-top .slick-slide img { width: 100%!important; height: auto!important; display: block;}
/*pagingInfo*/
 .pagingInfo,  .pagingInfo_1 { display: none; }

.slider-price {  }

@media (min-width: 1199px) {

	.slick-top .block-center { padding-left: 70px; padding-right: 70px; }
}
@media (max-width: 767px) {

	.pagingInfo , .pagingInfo_1 { display: block; text-align: center;  }
	.pagingInfo::first-letter , .pagingInfo_1::first-letter { color: $primary; }
	.slider-icon { margin-left: 0; margin-right: 0; }
	.slider-icon .slick-slide.col-lg-4 { padding: 0; }
	.slider-icon  .slick-next { top: 100%; margin-top: 12px; left:50%; margin-left: 50px; }
	.slider-icon  .slick-prev { top: 100%; margin-top: 12px; right: 50%; left: auto; margin-right: 50px;}
	.slider-icon  .slick-next:before {  font-size: 16px; width: 16px; height: 16px; font-family: 'Font Awesome\ 5 Free'; content: '\f054'; font-weight: 600; color: #999;}
    .slider-icon .slick-prev:before {  font-size: 16px; width: 16px; height: 16px; font-family: 'Font Awesome\ 5 Free'; content: '\f053'; font-weight: 600; color: #999;}

    .slider-price { margin-left: -30px; margin-right: -30px; }
    .slider-price .slick-slide {  padding-top: 10px; padding-bottom: 10px; }
    .slider-price .slick-slide.col-lg-4 { padding: 0; margin-top: 5px; margin-right: 10px; padding-left: 10px;}
    .slider-price  .slick-next { top: 100%; margin-top: 12px; left:50%; margin-left: 50px; }
    .slider-price  .slick-prev { top: 100%; margin-top: 12px; right: 50%; left: auto; margin-right: 50px;}
    .slider-price  .slick-next:before {  font-size: 16px; width: 16px; height: 16px; font-family: 'Font Awesome\ 5 Free'; content: '\f054'; font-weight: 600; color: #999;}
    .slider-price .slick-prev:before {  font-size: 16px; width: 16px; height: 16px; font-family: 'Font Awesome\ 5 Free'; content: '\f053'; font-weight: 600; color: #999;}

    .slick-customer { padding: 15px 0; margin-top: 20px; }
    .slick-customer div a { display: block; margin: 0 10px; }
    .slick-customer .slick-dots li button:before { font-size: 10px; color: $gray-300; opacity: 1; }
	.slick-customer .slick-dots li.slick-active button:before { color: $primary; }
    .slick-top .block-center .col-md-6 { display: block;}
}