.vm-ware{
  padding: 50px 0;
  .bg-box-img-r{
    height: 100%;
    background: linear-gradient(90deg, #FCFCFC 50%, #fff 50%);
  }
  .bg-box-img-l{
    height: 100%;
    background: linear-gradient(90deg, #fff 50%, #FCFCFC 50%);
  }
  .bg-box-txt{
    background: #FCFCFC;
  }
  .box2{
    transition: all 1s;
    &:hover{
      background: #fff;
     
      border-radius: 6px;
      transition: all 1s;
      color: #0b2e13;
    }
  }
  .package{
    padding: 35px;
    box-shadow: 1px 1px 15px #e8e8e8;
    border-radius: 10px;
    margin-bottom: 40px;
    button{
      width: 100%;
    }
    ul{
      margin: 20px 0;
      padding: 0;
      list-style: none;
      li{
        margin-bottom: 20px;
        color: #444444;
        font-size: 16px;
        line-height: 24px;
        font-family: "Open Sans";
        i{
          margin-right: 15px;
        }
        span{
          font-family: "Open Sans Bold";
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    .title-6{
     
       font-family: "Segoe UI bold"; font-size: 24px; margin: auto;
      span{ margin-top: 10px; display: block; padding-top: 8px;
        i{
          margin-right: 5px; 
        }
       
        margin: 0 auto;
        color: #FF8830;
        font-size: 18px;
        line-height: 22px;
        font-family: "Segoe UI Semibold";
      }
    }
    hr{
      width: 100%;
      border-width: 1px;
      border-color: #efefef;
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }
  .price{
    color: #444444;
    margin: 40px 0;
    .unit{
      font-size: 18px;
      line-height: 22px;
      font-family: "Segoe UI Semibold";
      vertical-align: top;
    }
    .money{
      font-size: 48px;
      line-height: 54px;
      font-family: "Segoe UI Bold";
    }
    .month{
      color: #A1A1A1;
      font-size: 12px;
      line-height: 18px;
      font-family: "Open Sans";

    }
  }

  .choose{
    background: #fff;
    box-shadow: 1px 1px 15px #e8e8e8;
    padding: 40px;
    border-radius: 10px; margin: 3rem 0;
    p{
      font-size: 16px;
      line-height: 24px;
      font-family: "Open Sans";
      color: #A1A1A1;
    }
    .sub-total{
      background: #BCEAFF;
      border-radius: 24px;
      margin: 20px 0;
      display: flex;
      .title{
        font-family: "Segoe UI Semibold";
        font-size: 18px;
        color: #0057B3;
        width: 50%;
        line-height: 40px;
        padding: 0 20px;
      }
      .total{
        width: 50%;
        background: #004FA3;
        text-align: center;
        color: #fff;
        border-radius: 20px;
        line-height: 40px;
        font-family: "Open Sans SemiBold";
        font-size: 18px;
        span{
          margin-left: 10px;
        }
      }

    }
    .configurator{
      margin: 20px 0 40px;
      ul{
        list-style: none;
        padding: 0;
        li{
          line-height: 22px;
          font-family: "Open Sans SemiBold";
          font-size: 18px;
          color: #444444;
          margin-bottom: 40px;
          display: flex;
          label{margin-bottom: 0}
          .option{
            width: 40%;
          }
          .value{
            width: 60%;
            background: #F2F2F2;
            height: 12px;
            border-radius: 15px;
            border: 0;
            .custom-handle {
              width: 45px;
              height: 45px;
              margin-top: -22.5px;
              border-radius: 25px;
              top: 50%;
              text-align: center;
              line-height: 45px;
              border: 0;
              background: #004FA3;
              color: #ffffff;
              font-family: "Open Sans";
              font-size: 14px;
            }
          }
          .wrapper-switch{
            position: absolute;
            right: 0;
            width: 60%;
            .switch {
              display: inline-block;
            }
            .switch input {
              display:none;
            }
            .slider {
              height: 26px;
              width: 100px;
              background-color: #BCEAFF;
              bottom: 0;
              cursor: pointer;
              left: 6px;
              position: absolute;
              right: 0;
              top: 0;
              transition: .4s;
              &:before {
                width: 87px;
                background-color: #004FA3;
                bottom: -6px;
                content: "";
                height: 38px;
                left: 0px;
                position: absolute;
                transition: .4s;
                width: 38px;
              }
            }
            input:checked + .slider {
              background-color: #BCEAFF;
              &:before {
                -webkit-transform: translateX(70px);
                transform: translateX(70px);
              }
            }
            .slider.round {
              border-radius: 34px;
              &:before {
                border-radius: 50%;
              }
            }
          }
        }
      }

    }
  }

}
.vm-ware-botton{
  background: #FCFCFC;
  padding: 150px 0;
}

.vm-ware .choose .configurator ul li .value.outer-select { height: auto; margin-top: -8px; }
.vm-ware .package ul li i { color: #7edabb; }
.vm-ware .package .text-center .d-flex {  height: 80px; }