// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #F2F2F2 !default;
$gray-200: #F6F6F6 !default;
$gray-300: #A1A1A1 !default;
$gray-400: #444444 !default;
$black: #000 !default;

$primary: #FF8830 !default;
$secondary: #004FA3 !default;